.container {
  display: flex;
  justify-content: center;
  background: var(--black);
  font-family: 'RobotoLight';
  flex-shrink: 0;
  height: 276px;
  width: 100%;
}

.content {
  max-width: var(--max-width);
  padding: 0 var(--pd-left-cnt);
  width: 100%;

  &SocialNetworks {
    display: flex;
    justify-content: center;
    column-gap: 64px;
    padding: 60px 0;

    &Icon {
      color: var(--gray);
      cursor: pointer;
      font-size: 24px;

      &:hover {
        color: var(--hover-gray);
      }
    }
  }

  &Nav {
    display: flex;
    justify-content: center;
    column-gap: 64px;
    padding-bottom: 60px;

    &Link {
      color: var(--gray);
      text-decoration: none;

      &:hover {
        color: var(--hover-gray);
      }
    }
  }

  &Additional {
    color: var(--gray);
    display: flex;
    justify-content: center;
  }
}
