.container {
  background: var(--white);
  border-radius: var(--br-radius);
  display: flex;
  font-family: 'RobotoLight';
  font-size: 14px;
  padding: 0 6px;
  max-width: 214px;
  width: 100%;

  &Input {
    width: inherit;
  }
}
