:root {
  --black: #1f1f1f;
  --white: #ffffff;
  --gray: #848383;
  --hover-gray: #c2c0c0;
  --light-gray: #e3e1e1;
  --active-color-link: #f50;
}

:root {
  --pd-left-cnt: 36px;
  --br-radius: 4px;
  --max-width: 1425px;
}