.container {
  font-family: 'RobotoLight';
  padding-top: 24px;
  padding-right: 36px;
  position: absolute;
  top: 72px;
  height: 100%;

  &Link {
    align-items: center;
    column-gap: 8px;
    display: flex;
    color: var(--gray);

    &Active {
      color: var(--active-color-link);
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: max-content;
  position: sticky;
  row-gap: 24px;
  top: 24px;
}
