.container {
  cursor: pointer;
  width: 100%;
  padding-right: 16px;
  min-width: 140px;
  max-width: 170px;

  &Hover {
    background: var(--black);
    border-radius: var(--br-radius);
    opacity: 1;

    &Img {
      transition: .5s ease;
      border-radius: var(--br-radius);
    }
  }

  &:hover .containerInfoTitle {
    color: var(--active-color-link);
  }

  &:hover .containerHoverImg {
    opacity: 0.6;
  }

  &Info {
    row-gap: 4px;
    display: flex;
    flex-direction: column;
    padding-top: 8px;

    &Title {
      font-family: 'RobotoBold';
      font-size: 14px;
      transition: .3s ease;
      white-space: pre-line;
    }

    &Additional {
      color: var(--gray);
      font-family: 'RobotoLight';
      font-size: 12px;
    }
  }
}
